.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: stretch;
  padding: 0.25rem;
  border-radius: 10px;
  overflow: auto;
}

.label {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
    color:#2d2d2d;
}

.options {
  display: flex;
  gap: 0.6rem;
  background: var(--radio-button-background);
  border-radius: 10px;
  padding: 0.25rem;
}

.radioLabel {
  display: inline-flex;
  align-items: center;
  width: stretch;
  height: 45px;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.radioLabel input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.optionContent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.optionContent span {
  color: black;
}

.radioLabel:has(input:checked) .optionContent span {
  color: white;
}

.optionIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.radioLabel:has(input:checked) {
  background: var(--primary-color);
  color: var(--tertiary-color);
  width: stretch;
}
