* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-dark: #404040;
  --bg-light: #f1f5f9;
  --border-1: #500000;
  --border-2: #cacd83;
  --text: #000;
  --text-1: #fff;
} 