* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a80202;
  --secondary-color: #500000;
  --tertiary-color: #FFFFFF;
  --fourth-color: #212121;
  --fifth-color: #000000;
  --hyperlink-color: #001479;
  --radio-button-background: #E1E3E4;
  --page-background-color: #F8F9FA;
  --input-background-color: #E1E3E4;
  --input-focus-color: #500000;
  --text-color: #000000;
  --background-color: #fff;
} 